body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*.container {
    max-width: 800px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    flex-grow: 1;
    margin: 20px auto;
    width: 100%;
}*/

.container {
    max-width: 800px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #640664;
}

p {
    color: #666;
}

.file-upload {
    margin-top: 20px;
}

input[type="file"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

button {
    background-color: #640664;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

    button:hover {
        background-color: #9E609E;
    }

.message {
    margin-top: 10px;
    font-weight: bold;
}
